 
BasedOnStyle: Google
ColumnLimit: '100'
IndentWidth: '4'
TabWidth: '4'
AccessModifierOffset: '-4'
MaxEmptyLinesToKeep: '4'
UseTab: Never
SortIncludes: Never
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None

