image: gcc

include:
  - template: Code-Quality.gitlab-ci.yml

stages:
  - build
  - test

build:
  stage: build
  only:
    - dev
    - master
  before_script:
    - apt update && apt -y install cmake libboost-dev doctest-dev
  script:
    - CMAKE_OPTIONS+="-DBUILD_TESTS=ON -DCMAKE_BUILD_TYPE=Release"

    - mkdir -p build && cd build
    - cmake .. ${CMAKE_OPTIONS} && cmake --build ./
  artifacts:
    paths:
      - build/test/test-*

test:
  stage: test
  only:
    - dev
    - master
  before_script:
    - apt update && apt -y install cmake
  script:
    - cp -r ./test/ini ./build/test
    - cd ./build/test
    - ctest -VV -j
