image: gcc

stages:
  - build
  - test

build:
  stage: build
  before_script:
    - apt update; apt -y install make autoconf cmake
  script:
    - cmake -G "Unix Makefiles" -S ./ -B build
    - cd build
    - make
  artifacts:
    paths:
      - build/test/test-Ini

test:
  stage: test
  script:
    - ./test-Ini
