image: gcc

build:
  stage: cmake
  script:
    - cmake -G "Unix Makefiles" -S ./ -B build
  
  stage: build
  before_script: cd build
  script:
    - make

  artifacts:
    paths:
      - build/libInterest.a
      - build/test/test-Ini
