image: gcc

stages:
  - build
  - test

build:
  stage: build
  before_script:
    - apt update && apt -y install make autoconf cmake libboost-dev doctest-dev
  script:
    - cmake -G "Unix Makefiles" -S ./ -B build
    - cd build
    - make
  artifacts:
    paths:
      - build/test/test-*

test:
  stage: test
  before_script:
    - cd ./build/test
    - cp -r ./test/ini ./build/test
  script:
    - for n in $(ls test*); do ./$n; done
