#########################
# project configuration #
#########################


# C++ project
language: cpp

dist: bionic
sudo: required


################
# build matrix #
################


matrix:
  include:
    - os: linux
      compiler:
        - gcc
        - clang
      before_install:
        - wget --no-check-certificate -O - https://apt.llvm.org/llvm-snapshot.gpg.key | sudo apt-key add -
        - add-apt-repository 'deb http://apt.llvm.org/bionic/   llvm-toolchain-bionic-11  main'
        - sudo apt-get -q update
        - sudo apt-get -y intall clang-11
      addons:
        apt:
          sources:
            - ubuntu-toolchain-r-test
          packages:
            - g++-10
            - libboost1.71-dev
            - doctest

################
# build script #
################

script:
  - CMAKE_OPTIONS+=" -DCMAKE_BUILD_TYPE=Release"

  - mkdir -p build && cd build
  - cmake .. ${CMAKE_OPTIONS} -DBUILD_TESTS=ON && cmake --build
  - ctest -VV -j